{% extends "base.html" %}

{% block content %}
<br><br>
    <div class="container">
        <div class="card card-container">
            <h1>Reset Password</h1>
            <h3>The email given is not associated with an account. </h3> <br>
            <h3>Please try again or <a href=/create_user>create a new account.</a></h3>
            <br><br><a href="/forgot_password" class="forgot-password">
                Return and Try Again
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
{% endblock %}

