{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% if user.is_authenticated %} <!-- Can't reset password if logged in. -->
    <h3 class="text-center"> You are already logged in! </h3>
    <h4 class="text-center"> View your <a href=/profile>profile</a> to change your password or view your username. Please <a href=/logout>logout</a> to reset your password. </h4>
{% else %}
<br><br>
    <div class="container"> 
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
                <div class="card card-container">
                    <div class="text-center">
                        <h2>Reset Password</h2>
                            <h4> <i> Your username will also be sent. </i> </h4>
                    </div>
                    <!-- Displays any messages -->
                    {% include "HandprintGenerator/message_template.html" %}
                    <h4>Please type in the email address associated with your account and follow the instructions sent to that email.</h4>
                    <div class="text-center">
                        <form action="/forgot_password/" method="post">               
                            <b>Email:</b> <input type="text" name="email">
                            <br><br>
                            <input class="btn btn-info btn-block" type="submit" name="Submit" value="Submit">
		                    {% csrf_token %}
                        </form>
                    </div>
                    <br>
                    <p> Contact us at <b>actions@handprinter.org</b> if you need help, or you can contact us <a href=/contact>here.</a></p>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}