{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

<h3> You are already logged in! </h3>
<br>
<h4> View your <a href=/profile>profile</a> to change your password or view your username. Please <a href=/logout>logout</a> to reset your password. </h4>

{% else %}

<br><br>
    <div class="container">
        <div class="card card-container">
            <h1>Reset Password</h1>
            <h4> <i> Your username will also be sent. </i> <h4>
            <h4>Please type in the email address associated with your account and follow the instructions sent to that email.</h4>
		    <form action="/forgot_password/" method="post">
		                       
                Email: <input type="text" name="email"><br><br>
                                
		        <input class="btn btn-info btn-block" type="submit" name="Submit" value="Submit">
		        {% csrf_token %}
            </form><!-- /form -->
            <br>
            <p><a href="mailto:actions@handprinter.org">Contact us if you need help.</a></p>
        </div><!-- /card-container -->
    </div><!-- /container -->

{% endif %}

{% endblock %}