{% extends "base.html" %}

{% block content %}
<br><br>
    <div class="container">
        <div class="card card-container">
            {% if form.errors %}
				<p class="error">Sorry, that's not a valid email</p>
			{% endif %}	
		    <form action="#" method="post">
		        
                <!-- form goes here -->
                
		        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
		        {% csrf_token %}
            </form><!-- /form -->
        </div><!-- /card-container -->
    </div><!-- /container -->
{% endblock %}