{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

<h3> You cannot create a new account if you're logged in!</h3>
<br>
<h4> View your <a href=/profile>profile</a> or view some <a href=/index>action ideas.</a></h4>

{% else %}

<br><br>
{% if registration_form.errors %}
    {{ registration_form.errors }}
{% endif %}
 
<div class="container">
    {% if error%}
        <p> This email is already associated with an account. If you forgot your password, reset your password <a href="/forgot_password" class="forgot-password"> here</a>. <p>
    {% endif %}
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                        <h2 class="panel-title">Join Today and grow your <a href=/about>Handprint!</a></h2>
                        </div>
                        <div class="panel-body">
                        <form action="#" method="post">
                            {% for field in registration_form %}
                            {{field.label_tag}}
                            {{field}}
                            <br><br>
                            {% endfor %}
                            <input type="submit" value="Register" class="btn btn-primary btn-lg">
                            {% csrf_token %}
                        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>       
         
    </form>

{% endif %}

{% endblock %}

