{% load staticfiles %}
<!DOCTYPE HTML>
<html>
    
    <head>
        <title>Handprinter</title>
        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/handprintgenerator.css' %}">
    </head>
    
    <body>
        
        <header>
            <nav>
                <table>
                    <th><a href="/about">About Handprinter</a></th>
                    <th><a href="/index">Action Idea Index</a></th>
                    {% if user.is_authenticated %}
                    <th><a href="/new">New Action Idea Form</a></th>
                    {% endif %}
                    {% if not user.is_authenticated %}
                    <th><a href="/create_user">New User Form</a></th>
                    {% endif %}
                    <th>
                        {% if user.is_authenticated %}
                            Welcome, {{ user.username }} <a href="/logout">Logout</a>
                        {% else %}
                            <a href="/login">Please Log In</a>
                        {% endif %}
                    </th>
                </table>
            </nav>
            <br>
        </header>
        
        {% block content %}
        {% endblock %}
        
        <footer>
             <nav>
                <table>
                    <th><a href="/contact">Contact Us</a></th>
                    <th><a href="/privacy">Privacy Policy</a></th>
                    <th><a href="/terms">Terms of Service</a></th>
                    {% if user.is_staff %}
                    <th><a href="/admin">Administration</a></th>
                    {% endif %}
                </table>
            </nav>
        </footer>
        
    </body>
</html>