{% extends "base.html" %}

{% block content %}

	<br><br>

	<h2> Handprinter Privacy Policy </h2>

		<p> We strive to be as clear as possible about how we use your data. When you sign up for an account, the e-mail and IP Address you used to register with are recorded. Unless required by law, your information will not be shared with third parties. The details of our privacy policy are outlined below. </p>

	<h3> Information Collection and Usage </h3>
		<p> When users register for an account, we ask for an e-mail address. In addition, the IP Address used to register for an account is recorded to help improve the content of our Web pages and service by offering the capability to tailor content to your geographic area. </p> 

		<p> The information we collect is not shared with or sold to other organizations. </p> 

		<p> Your information stored on this website may be shared with your explicit permission or under the following circumstances: </p> 

		<ul>
			<li> It becomes necessary to share your information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of the Terms of Service, or as otherwise required by law. </li> <br>
			<li> Any additional information provided via comments, external communications, and/or surveys will not be shared with third parties without your consent. </li>
		</ul>
		

	<h3> Cookies </h3>
		<p> Cookies are only used to manage session information (to keep you logged in). </p> 

	<h3> Data Storage </h3>
		<p> The Handprinter Organization uses third-party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run this application. The Handprinter Organization owns the code, databases, and rights to the application; however, you retain all rights to your data. By using this service, you consent to the transfer and storage of any information provided to this application to our infrastructure. </p> 

	<h3> Changes </h3>
		<p>Users will be notified of any changes to this privacy policy either through the application or a notice to the e-mail address associated with the user account. </p> 

	<h3> Questions </h3>
		<p> Any questions about this Privacy Policy should be sent to <a href="mailto:info@handprinter.org">this address,</a> or you can contact us through the link below. </p> <br><br>

{% endblock %}
