<!DOCTYPE HTML>
<html>

	<head>
        <title>Terms of Service</title>
    </head>

	<body>

		<header>
            <nav>
                <table>
                    <th><a href="/handprintgenerator/index">Action Idea Index</a></th>
                    <th><a href="/handprintgenerator/users">View All Users</a></th>
                    <th><a href="/handprintgenerator/new">New Action Idea Form</a></th>
                    <th><a href="/handprintgenerator/create_user">New User Form</a></th>
                </table>
            </nav>
        </header>

	<br><br><br>
		

        <footer>
        	 <nav>
                <table>
                    <th><a href="/handprintgenerator/about_us">About Us</a></th>
                    <th><a href="/handprintgenerator/contact_us">Contact Us</a></th>
                    <th><a href="/handprintgenerator/privacy_policy">Privacy Policy</a></th>
                </table>
            </nav>
        </footer>

	</body>

</html>