{% extends "base.html" %}

{% block content %}
{% if ActionIdea.active %}
    <!-- If the requestor is an admin, mod, or the idea creator, then the requestor can delete the idea by making it inactive -->
    {% if ActionIdea.creator_id == request.user.id or user.is_staff or user.profile.role == "Moderator" %}
        <h2> Why are you deleting this action idea?</h2>
        <form action="#" method="post">
	        {{ DeleteActionIdeaForm.errors }}
            {% for field in DeleteActionIdeaForm %}
                <h3>{{field.label_tag}}</h3>
                {{field}}
            {% endfor %}
            <br><br>
            <input type="submit" value="Delete Idea" class="btn btn-danger">
            {% csrf_token %}    
        </form>
    {% else %}
        <h3> You cannot delete ideas that you do not own. <a href=/index>View existing action ideas.</a> </h3>
    {% endif %}
<!-- Cannot access delete form for idea already made inactive. -->
{% else %}
    <h3> This action idea has already been deleted! <a href=/index>View existing action ideas.</a></h3>
{% endif %}
{% endblock %}
