{% extends "base.html" %}

{% block content %}

{% if ActionIdea.active %}


{% if ActionIdea.creator_id == request.user.id or user.is_staff or user.profile.role == "Moderator" %}

  
 <h1> Why are you deleting this action idea?</h1>

    <form action="#" method="post">
	    {{ DeleteActionIdeaForm.errors }}

        {% for field in DeleteActionIdeaForm %}
            {{field.label_tag}}
            {{field}}
            <br>
        {% endfor %}

        <input type="submit" value="Delete Idea">
        {% csrf_token %}
        
    </form>

{% else %}

<h3> You cannot delete ideas that you do not own. <a href=/index>View existing action ideas.</a> </h3>

{% endif %}


{% else %}

<h3> This action idea has already been deleted! <a href=/index>View existing action ideas.</a></h3>

{% endif %}


{% endblock %}
