{% extends "base.html" %}

{% block content %}
        
    <div id="page-content">
        <div id="action-idea">
            <h1>{{ ai.name }}</h1>
            <p> Description: {{ ai.description }}</p>
            <p> References: {{ ai.references }}</p>
            <p> Images: {{ ai.images }}</p>
            <p> Category: {{ ai.category }}</p>
            <p> Active: {{ ai.active }}</p>
            <p> Action Idea Creator: {{ ai.creator.first_name }} {{ ai.creator.last_name }}</p>
            {% if ai.creator == request.user or user.is_staff %}
                <a href="/handprintgenerator/{{ ai.id }}/edit/">Edit Action Idea</a>
            {% endif %}
        </div>
        <div id="comments">
            <h4> Comments </h4>
            {% for c in ai.comments %}
                <li>
                    <p> {{ c.text }}</p>
                    <p> <b> {{ c.user.username}} </b> on {{c.date_created}}</p>
                    <p> {{ ai.images }}</p>
                </li>
            {% endfor %}
            {% if ai.comments.count == 0 %}
                <p> There are no comments yet. </p>
            {% endif %}


            {% if user.is_authenticated %}
            <div id="post_comment">
                <form action="/handprintgenerator/{{ ai.id }}/" method="post">
                    {% for field in comment_form.visible_fields %}
                        {{field.label_tag}}
                        {{field}}
                        <br>
                    {% endfor %}
                    <input type="submit" value="Submit">
                    {% for field in comment_form.hidden_fields %}
                        {{field}}
                    {% endfor %}
                    {% csrf_token %}
                </form>

            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
