
{% extends "base.html" %}
{% block content %}

{% if user.profile.role == "Moderator" or user.is_staff or ai.active %}
        
    <div id="page-content">
        <div id="action-idea">
            <h1 data-toggle="tooltip" title="The title of the action idea.">{{ ai.name }}</h1>
            <a href=/index>Go Back</a> 
            {% if ai.image != "" %} 
            <img style="max-height:300px;" src="../../media/{{ ai.image }}" alt="{{ ai.name }}" >
            {% endif%}
            <br> <br>
            <p data-toggle="tooltip" title="What the idea is and how to adopt it."> Description: {{ ai.description }}</p>
            <p data-toggle="tooltip" title="Sources of inspiration or further reading."> References: {{ ai.references }}</p>
            <p data-toggle="tooltip" title="Context this idea is applicable in."> Category: {{ ai.category }}</p>
            <p data-toggle="tooltip" title="Relevant keywords about the idea. Tags are used for search, so having lots of tags increases search visibility!"> Tags: 
            {% for tag in ai.tags.names %}
            <form id="tagForm" action="/searchresults" method="get">
                {% csrf_token %}
                <input id="search" type="hidden" name="searchTerm" value="{{ tag }}">
                <input type="submit" class="tagLink" value="{{tag}}">
            </form>{% if not forloop.last %}, {% endif %}
            {% endfor %}
            <p> Votes: {{ai.numvotes}} </p>
            {% if user.profile.role == "Moderator" or user.is_staff %}
                <p> Active: {{ ai.active }}</p>
                {% if not ai.active %} 
                <ul>
                 <li> <b>Reason:</b> {{reason.reason}} </li>
                 </ul>
                {% endif %}
            {% endif %}
            <p> Submitted By: {{ ai.creator.username}}</p>
            {% if ai.creator == request.user or user.is_staff or user.profile.role == "Moderator" %}
                <a href="{% url 'HandprintGenerator:edit_action_idea' ai.id %}" class="btn btn-info">Edit Action Idea</a>
                {% if ai.active %}
                    <a href="{% url 'HandprintGenerator:delete_action_idea' ai.id%}" class="btn btn-danger">Delete Action Idea</a> 
                {% elif not ai.active %}
                    {% if user.is_staff or user.profile.role == "Moderator" %}
                        <form action="/handprintgenerator/{{ ai.id }}/" method="post">
                            <input type="submit" name="restore" value="Restore Action Item">
                            {% csrf_token %}
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if user.is_authenticated and ai.active %}                
                {% if userVote %}
                    <form action="/handprintgenerator/{{ ai.id }}/" method="post">
                        <input type="submit" name="unvote" value="Unvote" class="btn btn-warning">
                        {% csrf_token %}
                    </form>
                {% else %}
                    <form action="/handprintgenerator/{{ ai.id }}/" method="post">
                        <input type="submit" name="vote" data-toggle="tooltip" title="The more votes an ideas has, the greater likelihood it will be selected for enviornmental impact modeling by researchers!" value="Vote" class="btn btn-warning">
                        {% csrf_token %}
                    </form>
                {% endif %}
                <br>
                <form action="" method="post">
                        <input type="hidden" name="action_idea" value="{{ ai.id }}">
                        <input type="submit" name="report" data-toggle="tooltip" title="You can report this entry to moderators if you believe that it is offensive, inappropriate, irrelevant and/or violates the terms of service." value="Report Idea as Inappropriate" class="btn btn-danger">
                        {% csrf_token %}
                </form>
                <br>
            {% endif %}
        </div>
        <div id="comments">
            <h4> Comments </h4>
            <p> <i> Have a suggestion, question, or concern about this idea? Post a comment! </i> </p> <hr>
            {% for c in ai.comments %}
                <li>
                    <p> {{ c.text }}</p>
                    <p> <b> {{ c.user.username}} </b> on {{c.date_created}}</p>
                    {% if user.is_authenticated %}
                        <p><form action="" method="post">
                            <input type="hidden" name="comment_reported" value="{{ c.id }}">
                            <input type="submit" name="report_comment" data-toggle="tooltip" title="You can report this entry to moderators if you believe that it is offensive, inappropriate, irrelevant and/or violates the terms of service." value="Report Comment as Inappropriate" class="btn btn-danger">
                            {% csrf_token %}
                        </form></p>
                        {% if c.user == request.user or user.profile.role == "Moderator" or user.is_staff %}
                        <p><form action="/handprintgenerator/{{ ai.id }}/" method="post">
                            <input type="hidden" name="comment" value="{{ c.id }}">
                            <input type="submit" name="delete" value="Delete Comment" class="btn btn-danger">
                            {% csrf_token %}
                        </form></p>
                        <br><br> 
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
            {% if ai.comments.count == 0 and user.is_authenticated %}
                <p> There are no comments yet. Why don't you be the first to make one? </p>
            {% elif ai.comments.count == 0 %}
                <p> There are no comments yet. <a href=/create_user>Create an Account</a> or <a href=/login>Login</a> and be the first to make one! </p>
            {% endif %}


            {% if user.is_authenticated %}
            <div id="post_comment">
                <form action="/handprintgenerator/{{ ai.id }}/" method="post">
                    {% for field in comment_form.visible_fields %}
                        {{field.label_tag}}
                        {{field}}
                        <br>
                    {% endfor %}
                    <input type="submit" value="Submit Comment" class="btn btn-success">
                    {% for field in comment_form.hidden_fields %}
                        {{field}}
                    {% endfor %}
                    {% csrf_token %}
                </form>

            </div>
            {% endif %}
        </div>
    </div>

    {% else %}
    <h3> You cannot view a deleted action idea! <a href=/index>View existing action ideas.</a></h3>

    {% endif %}

{% endblock %}
