{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h1>this will be filled with images</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="/about" role="button">What is Handprinter?</a></p>
</div>

{% if not user.is_authenticated %}
<div class="row-fluid">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Create Account Image Space</h3>
        <p><a href="/create_user" class="btn btn-primary" role="button">Create Account</a></p>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="row-fluid">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Create Idea Image Space</h3>
        <p><a href="/new" class="btn btn-primary" role="button">Create Action Idea</a></p>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="row-fluid">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Action Ideas Image Space</h3>
        <p><a href="/index" class="btn btn-primary" role="button">Handprint Ideas</a> </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}