{% extends "base.html" %}

{% block content %}
        
    <h1> Action Ideas Related to Work </h1>

<a href="/index_home">Home</a>
<a href="/index_community">Community</a>
<a href="/index_vote">Most Popular</a>
<a href="/index_mobility">Mobility
<a href="/index_clothing">Clothing</a></a>
<a href="/index_other">Other</a>
<a href="/index">Most Recent</a>
 <a href="/index_food">Food</a>
 <br><br>

    {% if user.profile.role == "Moderator" or user.is_staff %}
    <h2> Active </h2>
    {% endif %}
    <table>
    {% if action_ideas_work_active %}
    <tr><th>Action Idea</th><th>Category</th><th>Votes</th><th>Date Created</th></tr>
        {% for ai in action_ideas_work_active %}
            <tr>
                <td><a href="{% url 'HandprintGenerator:detail' ai.id %}">{{ ai.name }}</a></td>                
                <td> {{ ai.category }} </td>
                <td> {{ai.numvotes}}</td>
                <td> {{ai.date_created}} </td>
                {% if user.is_authenticated %}                
                <td> 
                    {% if ai.id in userVotes %}
                        <form action="" method="post">
                            <input type="hidden" name="action_idea" value="{{ ai.id }}">
                            <input type="submit" name="unvote" value="Unvote">
                            {% csrf_token %}
                        </form>
                    {% else %}
                        <form action="" method="post">
                            <input type="hidden" name="action_idea" value="{{ ai.id }}">
                            <input type="submit" name="vote" value="Vote">
                            {% csrf_token %}
                        </form>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    {% else %}
        <p>No action ideas are available in this category, why don't you <a href=/new>add one.</a> Try looking in another category or go back to the <a href=/index>main index.</a> </p>
    {% endif %}

    </table>
    <br>
    {% if user.profile.role == "Moderator" or user.is_staff %}
        <h2> Inactive Action Ideas Related to Work </h2>
        <table> 
        {% if action_ideas_work_inactive %}
        <tr><th>Action Idea</th><th>Category</th><th>Votes</th><th>Date Created</th></tr>
            {% for ai in action_ideas_work_inactive %}
                <tr>
                    <td><a href="{% url 'HandprintGenerator:detail' ai.id %}">{{ ai.name }}</a></td>                
                    <td> {{ ai.category }} </td>
                    <td> {{ai.numvotes}}</td>
                    <td> {{ai.date_created}} </td>
                </tr>
            {% endfor %}
        {% else %}
            <p>There are no inactive action ideas in this category. To make an idea inactive, you must delete it. Try looking in another category or go back to the <a href=/index>main index.</a></p>
        {% endif %}
    </table>
    {% endif %}

{% endblock %}
