{% extends "base.html" %}
{% block content %}
<div class="container">
    {% include "HandprintGenerator/idea_page_header.html" with header="Action Ideas Related to Food" filter="food" %}
    <!-- Tab Content. Renders template using idea_table.html based on contexts in views.py for index function-->
    <!-- One variable for active, one for inactive, and page allows for independent pagination.-->
    {% include "HandprintGenerator/idea_table.html" with idea_list_active=action_ideas_food_active idea_list_inactive=action_ideas_food_inactive page="food" %}
</div>
{% endblock %}

