{% extends "base.html" %}

{% block content %}
        
    <h1> Action Ideas </h1>

    <table>
    {% if action_ideas %}
    <tr><th>Action Idea</th><th>Category</th><th>Votes</th><th>Date Created</th></tr>
        {% for ai in action_ideas %}
            <tr>
                <td><a href="/handprintgenerator/{{ ai.id }}/">{{ ai.name }}</a></td>
                <td> {{ ai.category }} </td>
                <td> {{ai.numvotes}}</td>
                <td> {{ai.date_created}} </td>
            </tr>
        {% endfor %}
    {% else %}
        <p>No action ideas are available.</p>
    {% endif %}

    </table>

{% endblock %}
