<!DOCTYPE HTML>
<html>
    
    <head>
        <title>Handprinter: Register</title>
    </head>
    
    <body>
        <header>
            <nav>
                <table>
                    <th><a href="/handprintgenerator/index">Action Idea Index</a></th>
                    <th><a href="/handprintgenerator/users">View All Users</a></th>
                    <th><a href="/handprintgenerator/new">New Action Idea Form</a></th>
                    <th><a href="/handprintgenerator/create_user">New User Form</a></th>
                </table>
            </nav>
        </header>
        
        <section class="container">
            <h1> Create a new User </h1>

            <form action="#" method="post">
                {% for field in registration_form %}
                    {{field.label_tag}}
                    {{field}}
                    <br>
                {% endfor %}

                <input type="submit" value="Submit">
                {% csrf_token %}
                
            </form>
        </section>
        
        <footer>
             <nav>
                <table>
                    <th><a href="/handprintgenerator/about_us">About Us</a></th>
                    <th><a href="/handprintgenerator/contact_us">Contact Us</a></th>
                    <th><a href="/handprintgenerator/privacy_policy">Privacy Policy</a></th>
                    <th><a href="/handprintgenerator/terms_of_service">Terms of Service</a></th>
                </table>
            </nav>
        </footer>

    </body>
</html>