{% extends "base.html" %}

{% block content %}
<!-- @todo - depending if it came from edit or new 
 -->    
 <h1> Create a new Handprint action idea </h1>

    <form enctype="multipart/form-data" action="#" method="post">
   		{{ NewActionIdeaForm.errors }}
        {% for field in NewActionIdeaForm %}
            {{field.label_tag}}
            {{field}}
            <br>
        {% endfor %}
        <input type="submit" value="Submit">
        {% csrf_token %}
        
    </form>
{% endblock %}
