{% extends "base.html" %}

{% block content %}

<h2> Search Results for "{% firstof search_term %}"</h2>
<br>
<a href="/index">Go Back to Index</a></li>
<br><br>

<form action="/searchresults" method="get">
    {% csrf_token %}
    <label for="search">Search for Ideas by Tags: </label>
    <input id="search" type="text" name="searchTerm" value="{{ searchTerm }}">
    <input type="submit" value="Search">
</form>
<br><br>

{% include "HandprintGenerator/idea_table.html" with idea_list_active=ai_search_active idea_list_inactive=ai_search_inactive %}
    
{% endblock %}
