{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

<br><br> 

<div class="use_profile">
    <div class="container">
        <div class="row ">
            <div class="col-xs-12 col-md-12 user-details">
            


                    <!-- user profile image -->
                    <div class="user-image">
                    <img id="profile-img" class="profile-img-card" src="static/img/Pear_Leaf.jpg" />
                    </div> 

            <div class="user-info-block">

                    <!-- heading for user profile page  -->
                    <div class="user-heading">
                        {% if user.first_name != "" and user.last_name != "" %}
                            <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                        {% else %}  
                            <h3>{{ user.username }}</h3>
                        {% endif %}
                        <span class="help-block">{{ user.profile.location }}</span>
                    </div>
                    <ul class="navigation">
                        <li class="active">
                            <a data-toggle="tab" href="#information">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#settings">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#myactionitems">
                                <span class="glyphicon glyphicon-leaf" ></span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#myhistory">
                                <span class="glyphicon glyphicon-tree-deciduous"></span>
                            </a>
                        </li>
                       {% if user.is_superuser %} 
                        <li>
                            <a data-toggle="tab" href="#control">
                                <span class="glyphicon glyphicon-star"></span>
                            </a>
                        </li>
                        {% endif %} 
                    </ul>

                <div class="user-body">
                    <div class="tab-content">

                        <!-- information tab for user-->
                        <div id="information" class="tab-pane active">
                            <h4>Account Information</h4>
                            <table>
                            {% if user.first_name != "" and user.last_name != "" %}
                                <tr>Name: {{ user.first_name }} {{ user.last_name }}</tr>
                                <br>
                            {% endif %}
                                <tr>Username: {{ user.username }}</tr>
                                <br>
                                <tr>Email: {{ user.email }}</tr> 
                                <br>
                                <tr>Date Joined: {{ user.date_joined}}</tr> 
                                <br>
                                <tr>Last Login Was: {{ user.last_login }}</tr>
                                <br>
                            </table>
                        </div>

                        <!-- settings tab for user-->

                        <div id="settings" class="tab-pane">
                            <h4>Settings</h4>
                            <br><br>
                            <table class='table'>
                                <form action="/profile"" method="post">
		                       
                                    Enter New Email: <input type="text" name="change_email"><br><br>
                                                    
                                    <input class="btn btn-primary btn-block" type="submit" name="Change Email" value="Permanently Change Email on File">
                                    {% csrf_token %}
                                </form>
                                <br> <br>
                                <form action="/profile" method="post">
		                       
                                    Enter New Password: <input type="password" name="change_password"><br><br>
                                    Confirm New Password: <input type="password" name="change_password_confirmation"><br><br>
                                                    
                                    <input class="btn btn-primary btn-block" type="submit" name="Change Password" value="Permanently Change Account Password">
                                    {% csrf_token %}
                                </form>
                            </table>
                        </div>


                        <!-- my action ideas tab for user-->
                        <div id="myactionitems" class="tab-pane">
                            <h4>My Action Ideas</h4>
                            {% if myideas %}
                            <table>
                                <tr>
                                    <th>Action Idea &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                    <th>Category &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                                    <th>Votes &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                                    <th>Date Created &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                                </tr>
                                    {% for ai in myideas %}
                                        <tr>
                                            <td><a href="{% url 'HandprintGenerator:detail' ai.id %}">{{ ai.name }}</a></td> 
                                            <td> {{ ai.category }} </td>
                                            <td> {{ai.numvotes}}</td>
                                            <td> {{ai.date_created}} </td>
                                        </tr>
                                     {% endfor %}
                            </table>     
                            {% else %}
                                <p>You haven't suggested any action ideas. Create one <a href=/new>here</a>!</p>
                            {% endif %}
                        </div>


                        <!-- action idea history tab for user-->
                        <div id="myhistory" class="tab-pane">
                            <h4>My Comment History</h4>
                            <table>
                                {% if mycomments %}
                                <table>
                                <tr>
                                    <th>Action Idea &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                    <th>Comment &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                                </tr>
                                    {% for comment in mycomments %}
                                        <tr>
                                            <td><a href="{% url 'HandprintGenerator:detail' comment.action_idea.id %}">{{ comment.action_idea.name }}</a></td> 
                                            <td> {{comment.text}} </td>
                                        </tr>
                                     {% endfor %}
                                </table>  
                                {% else %}
                                    <p>You have no comments.</p>
                                {% endif %}
                            </table>
                            <h4>My Voting History</h4>
                                <table>
                                    {% if myvotes %}
                                    <table>
                                    <tr>
                                        <th>Action Idea &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                    </tr>
                                        {% for vote in myvotes %}
                                            <tr>
                                                <td><a href="{% url 'HandprintGenerator:detail' vote.action_idea.id %}">{{ vote.action_idea.name }}</a></td> 
                                            </tr>
                                         {% endfor %}
                                    </table>  
                                    {% else %}
                                        <p>You have not voted on anything.</p>
                                    {% endif %}

                                </table>
                        </div>

                        <!-- control tab for superuser -->

                        <div id="control" class="tab-pane">
                            <h4>Superuser Controls</h4>
                            <i>This tab is only visible to administrators</i>
                            <br>
                            <p>
                                There will be an option to send a message to every user registered. Coming soon!
                            </p>
                        </div>


                        <!-- end of content for user tab content-->

                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
</div>
{% else %}

<h3> Please <a href=/login>login</a> or create a <a href=/create_user>new account</a> to view your profile. </h3>

{% endif %}

<br><br><br><br>

</div>

{% endblock %}
